*, *:before, *:after {
	box-sizing: border-box;
}

*, *:before, *:after {
	padding: 0;
	margin: 0;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body > * {
	position: absolute;
	left: 0;
	top: 0;
}

canvas {
	background-color: #eee;
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
	background-image: 
		linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
		linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
	display: block;
}
