*, *:before, *:after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: scroll;
}


main {
	position: fixed;
	top: 1rem;
	left: 1rem;
	max-width: 50%;
	height: auto;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
	padding: 1rem;
	z-index: 1;
}

p {
	margin: 0.5rem 0;
}

#random_stuff {
	position: relative;
	z-index: 0;
}

#random_stuff > div {
	position: absolute;
	color: #000;
	text-shadow: 1px 1px 0px #fff;
	padding: 1rem;
	border: 2px solid #333;
}
